@import url(https://fonts.googleapis.com/css?family=Nunito);


.dropdown-item.active, .dropdown-item:active{
    background-color: #ad6a9b !important;
}

.dropdown-item.hover, .dropdown-item:hover{
    background-color: #ad6a9b !important;
    color: #fff !important;
}

.dropdown-menu{
	left: -210px !important
}

.backdrop{
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background: rgba(0, 0, 0, 0.5); 
	backdrop-filter: blur(0px); 
	top: 0px; z-index: 999; 
	display: none;
}

.loader{
	display: none; 
	color: #ad6a9b !important; 
	width: 6rem; 
	height: 6rem;
}

.alert-personalizada{
	display: none;
	margin-right: 30px;
	margin-left: 30px; 
	margin-top: 15px;
	color: #fff;
}

.alert-succes{
	background-color: #ad6a9b; 
	border-color: #ad6a9b;
}

.alert-error{
	background-color: #6c757d; 
	border-color: #6c757d;
}

.alert-warning{
	background-color: #DFB73D; 
	border-color: #DFB73D;
}

.tab-personalizada{
	/*border: 1px solid #6c757d;; */
	border-radius: 5px; 
	/*padding: 15px; */
	color: #000;
	/*background-color: #6c757d; */
	/*color: #fff;*/
}

.tab-a, .tab-a:hover{
    color: #000;
}

.tab-secondary{
	margin-left: 5px;
}

.mb-2-personalizada{
    margin-bottom: 2px !important;
}